@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {

    @apply bg-red-500
}




.rs-play {
    background-color: green !important;
    color: #fff;
    border-radius: 50px !important;

    padding: 5px;
}

.ticker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 2px;
    width: 100%;



}

.bigHeading {
    display: block;
    position: fixed;
    bottom: 5%;
    font-style: italic;

    font-size: 30px;
    background: #e60000;
    color: #FFFF;
    text-transform: uppercase;
    padding: 8px;
    letter-spacing: 3px;
    font-weight: 700;
    z-index: 2;
}






.text-update {
    height: 5%;
    background: #004fff;
    overflow: hidden;
    position: fixed;
    bottom: 1px;
    margin-top: 1px;

    padding: 1%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    width: 100%;


    left: 12px;
}

.text-update p {
    position: absolute;
    width: 101%;
    margin: 0;
    font-weight: 700;
    text-align: left;
    transform: translateX(100%);
    animation: moving 45s linear infinite;
}

@keyframes moving {
    0% {

        transform: translateX(90%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #db1f1f #f8f7f7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f8f7f7;
}

*::-webkit-scrollbar-thumb {
    background-color: #db1f1f;
    border-radius: 9px;
    border: 1px ridge #ffffff;
}